<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>view/login.jsp</welcome-file>
  </welcome-file-list>
  
  <!--servlet配置 -->
  <servlet>
      <servlet-name>test</servlet-name>
      <servlet-class>com.zhao.contorller.MainServlet</servlet-class>
  </servlet>
  <!--servlet映射1（mapping） -->
  <servlet-mapping>
      <servlet-name>test</servlet-name>
      <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!--filter过滤器 -->
  <filter>
      <filter-name>filter</filter-name>
      <filter-class>com.zho.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>filter</filter-name>
      <url-pattern>*.d</url-pattern>
  </filter-mapping>
  
</web-app>
